*

# Pre-processing scripts
!profile_data.py
!calculate_retention_rates.py
!visualize_profile.py

# Training scripts
!process_pgn_v2.py
!train_v2.py
!dataset_v2.py
!model_v2.py
!model_v2-1.py
!train_v2-1.py

!.gitignore
!README.md

# Inference scripts
!inference/
!inference/*.py


# Configuration files
!requirements.txt

# lichess-bot related script
!



