*

# Model and training
!model.py
!train.py
!dataset.py

# Data preprocessing
!process_pgn.py
!profile_data.py
!calculate_retention_rates.py
!visualize_profile.py

# Evaluation
!compare_ACPL.py

# Inference
!inference/
!inference/*.py

# Lichess-bot integration
!lichess-bot/
!lichess-bot/extra_game_handlers.py
!lichess-bot/lib/
!lichess-bot/lib/engine_wrapper.py
!lichess-bot/lib/model.py
!lichess-bot/config.example.yml

# Wrapper script for UCI engine
!marvin_wrapper.sh

# Documentation & Config
!.gitignore
!README.md
!requirements.txt

# docs
!docs/
!docs/*