*

# Model and training
!model.py
!train.py
!dataset.py

# Data preprocessing
!process_pgn.py
!process_pgn_player.py

# Evaluation
!compare_ACPL.py

# Inference
!inference/
!inference/*.py
!inference/templates/
!inference/templates/index.html

# Scripts
!scripts/
!scripts/export_onnx.py
!scripts/export_to_leela.py
!scripts/export_model.py

# Leela integration scripts
!export_to_leela.py

# Documentation & Config
!.gitignore
!README.md
!requirements.txt

# docs
!docs/
!docs/*.png

# GitHub Actions
!.github/
!.github/workflows/
!.github/workflows/*.yml
